settings:
  api_url:
    value: http://localhost:1178
    vtype: io.ip
    description: IP address of the nlu api
    ui: text
    required: true
  watch_skill_dir:
    value: true
    vtype: boolean
    description: Watch Skill Dir for changes and reload the skills.
    ui: toggle
    group: Skills Watch Dir
  watch_dir_debounce_time:
    value: 1
    vtype: time.seconds
    description: Time for debouncing of the Directories Watchers
    ui: slider
    min: 1
    max: 30
    group: Skills Watch Dir
  dialogue_cap:
    value: both
    vtype: enum
    enum_:
      - speaker
      - listener
      - both
    description: Select Dialogue mode
    ui: dropdown
  lang:
    value: en 
    vtype: enum
    enum_:
      - en
      - pt
    description: Language
    ui: dropdown
